@import "config";

section.aboutSection {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 5vw;

  & > div {
    justify-self: center;
  }

  & > .image {
    height: 20em;
    width: 20em;

    & img {
      border-radius: 5%;
    }
  }

  & > .aboutMe {
    & > h3 {
      margin: 1.25em 0;
    }
    & > p {
      margin: 1em 0;
      line-height: 1.5em;
      font-size: 1.125em;
    }
  }
}

@media only screen and (max-width: 768px) {
  section.aboutSection {
    grid-template-columns: 1fr;
  }
}
