@import "config";
section.introSection {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 5vw;

  & > div {
    justify-self: center;
  }

  & > .info {
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;

    & > a {
      margin-top: 0.25em;
      background-color: $fg;
      color: $bg;
      font-weight: bold;
      padding: 0.25em 1em;
      border: solid 1px;
      border-radius: 0.5em;
      transition: 125ms;
      &:hover {
        background-color: $bg;
        color: $fg;
      }
    }

    & > .name {
      margin-bottom: 2em;
      border-bottom: solid 1px;

      display: flex;
      flex-flow: column nowrap;

      & > h2 {
        font-size: 1.5rem;
        line-height: 1.75rem;
        font-weight: 300;
      }

      & > .bubble {
        width: fit-content;

        padding: 0 1em;

        background-color: $bg;
        border: solid 1px;
        border-radius: 0.75em 0.75em 0.75em 0;

        align-self: flex-start;
        display: flex;
        align-items: center;
      }
      & > h1 {
        margin-bottom: 0.5em;
      }
    }

    & > .contact {
      width: 100%;
      margin-bottom: 0.75em;

      & > span {
        margin-right: 1ch;
      }
    }

    & > .links {
      width: 100%;
      padding: 0.25em;
      border-top: dashed 1px;
      border-bottom: dashed 1px;
      & > a {
        padding: 0 1em;
        margin: 0 0.5em;
        transition: 125ms;
        border-radius: 10%;
        &:hover {
          background-color: $fg;
          color: $bg;
        }
        & span.screenReader {
          border: 0;
          clip: rect(1px, 1px, 1px, 1px);
          clip-path: inset(50%);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
          word-wrap: normal !important;
        }
      }
    }
  }

  & > .image {
    height: 20em;
    width: 20em;
    position: relative;

    & img {
      border-radius: 50%;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      border-radius: 50%;
      opacity: 0.1;
    }
    &::before {
      box-shadow: 0 0 0em 2em $trim;
    }
    &::after {
      box-shadow: 0 0 0em 1em $fg;
    }
  }
}

@media only screen and (max-width: 768px) {
  section.introSection {
    grid-template-columns: 1fr;
    & > .image {
      margin-top: 1em;
      width: 15em;
      height: 15em;
    }
  }
}
