@import "config";

section.skillsSection {
  & > h2 {
    margin-bottom: 1rem;
  }
  & > h3 {
    margin: 1.25em 0 -1.25em;
    border-bottom: dashed 1px;
    font-weight: 700;
  }
  & > span {
    font-size: 1.125em;
    border-left: solid 5px;
    padding-left: 0.25em;
    &.red {
      border-left-color: red;
    }
    &.orange {
      border-left-color: orange;
    }
    &.green {
      border-left-color: green;
    }
    &.blue {
      border-left-color: blue;
    }
  }
  & > .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3vw;
    margin-top: 3em;

    & > .card {
      display: block;
      justify-self: center;
      transition: 125ms ease-out;
      &:hover {
        transform: scale(1.1);
      }

      & > .image {
        width: fit-content;
        height: fit-content;

        padding: 0.5em;
        background-color: $fg;
        border-radius: 5%;

        display: flex;
        align-items: center;
        justify-content: center;

        box-shadow: 0 0 2rem -0.5rem black;
        transition: 125ms;
      }
      & > .label {
        // border-bottom: solid 4px;
        &.red {
          border-bottom-color: red;
        }
        &.orange {
          border-bottom-color: orange;
        }
        &.green {
          border-bottom-color: limegreen;
        }
        &.blue {
          border-bottom-color: blue;
        }
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  section.skillsSection {
    & > .grid {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

@media only screen and (max-width: 768px) {
  section.skillsSection {
    & > .grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media only screen and (max-width: 360px) {
  section.skillsSection {
    & > .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
